@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Images are from the Renaissance Seattle Hotel. http://www.marriott.com/hotels/travel/seasm-renaissance-seattle-hotel/
    Carousel Image Slider created using W3 School's tutorial on slideshows: https://www.w3schools.com/w3css/w3css_slideshow.asp
    </p>
